

nav {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.brand {
  font-family: 'Bayon', sans-serif;
}
.kind-food {
  position: relative;
  z-index: -999;
}
/* .stock {
  border-radius: 20px;
  padding: 4px;
} */
.start {
  background: url("../img/food1.jpg") no-repeat;
  height: 300px;
  background-size: cover;
}


.gird-top{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:10px;
}
.main-grid-tp{
  background: orange;
  height:60vh ;
}
.main-gird-bt{
  height: 50vh;
  background: gray;
}

.gird-bt{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:10px;
}


@media(max-width:995px) {
    .sign_up {
      margin-top: 10px;
    }
  }