button {
  background: green;
}


nav {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.brand {
  font-family: 'Bayon', sans-serif;
}
.kind-food {
  position: relative;
  z-index: -999;
}
.start {
  background: url("../img/food1.jpg") no-repeat;
  height: 300px;
  background-size: cover;
}


@media(max-width:995px) {
    .sign_up {
      margin-top: 10px;
  }
}
/* ------------------Kea------------------------- */
.grid-box{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.box1,.box2,.box3{
  height: 50vh;
  margin: 10px 0px;
  
}

.box img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border:1px solid rgb(238, 238, 238);
}
p{
  font-family: 'bayon',sans-serif;
  font-size: 20px;
  text-align: center;
  
}
span{
  color: green;
}
.box button{
  font-family: 'bayon',sans-serif;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}


/* ----------------------------------------------------- */
/* cham content*/
.grid-parents{
  height:120vh;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(4,1fr);
 gap:10px ;
  margin: 15px 0px;
}
.child{
 height:60vh;
 

}
.child-card{
  width: 100%;
  height: 60%;
}
.child-card img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.child .button{
  width: 80%;
  background:#0abf53;
  border: none;
  color: white;
  padding: 10px 0px;
  border-radius: 50px;
}
.child p{
  margin: 20px 0px;
  font-size: 15px;
}
.btn-order{
  width: 100%;

  display: flex;
  justify-content: center;
}
.child .fa,
.child span{
  position: absolute;

}
.child .fa-heart-o{
  margin-top: 190px;
  margin-left: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.child span{
  margin-top: 180px;
  margin-left:210px;
  font-size: 30px;
  color: white;
  
}
.child b{
  color:#0abf53 ;
 
}
img {
  width: 200px;
}
h5 {
  text-align: center;
  padding: 20px;
  background: gray;
}
.four-boxs {
  display: grid;
  grid-template-columns: repeat(4,fr);
  grid-template-areas: 
  'first-b' 'second-b' 'third-b' 'fourth-b';
}
.first-b {
  grid-area: first-b;
}
.second-b {
  grid-area: second-b;
}
.third-b {
  grid-area: third-b;
}
.fourth-b {
  grid-area: fourth-b;
}

